/*contains 
    main bottcontainer div 
    cross hairs
    robotgifs large and small
    Active and activation sign
    boxer
    Landing page
*/


#botcontainer {
    display:none;
    background-color: rgb(14,14,14);
    width: 100%;
     position: fixed; 
    bottom:5%;
    -webkit-transition: width .5s, margin-left .5s;
    transition: width .5s, margin-left .5s;}

/*#botcontainer2 {
    width: 100%;
     position: absolute; 
    bottom:5%;
    -webkit-transition: width .5s;
    transition: width .5s;}*/

    #botcontainer2 {
background-color: rgb(14,14,14);
    width: 100%;
    position: fixed;
    -webkit-transition: width .5s;
    transition: width .5s;
    margin-top: 8%;}

    #botcontainer3 {
    background-color: rgb(14,14,14);
    width: 100%;
    position: fixed;
    bottom:30%;
    -webkit-transition: width .5s;
    transition: width .5s;}

    #botcontainer4 {
    background-color: rgb(14,14,14);
    width: 100%;
     position: fixed;
         bottom:0%;
     -webkit-transition: width .5s;
    transition: width .5s;}

        #botcontainer5 {
    background-color: rgb(16,16,16);
    width: 100%;
     position: fixed;
         bottom:10%;
     -webkit-transition: width .5s;
    transition: width .5s;}

    #lander    {
            width: 10%;
    height: 5vw;
    position: absolute;
    z-index: 5000;
    background-color: red;
    display: none;
    margin-top: 20%;
    margin-left: 45%;
    }


    #boxer{    
    display: none;    
    position: absolute;
    width: 75%;
    pointer-events: none;
    opacity: .25;
    -webkit-transition: width .5s, margin-left .5s;
    transition: width .5s, margin-left .5s;}

    #boxer1{    
    display: none;    
    position: absolute;
    width: 86%;
    pointer-events: none;
    opacity: .25;
    -webkit-transition: width .5s, margin-left .5s;
    transition: width .5s, margin-left .5s;}

    #boxerA {
    display: none;
    position: absolute;
    width: 50%;
    z-index: 2;
    pointer-events: none;
    opacity: .25;
    -webkit-transition: width .5s, margin-left .5s;
    transition: width .5s, margin-left .5s;}


    .notifpos2{pointer-events: none;
    display: none;
    font-size: 36px;
    color: #3fdd00;
    font-family: nin;
    z-index: 20;
    position: absolute;
    padding: 0%;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 70%;
    -webkit-transition: margin-top .5s, margin-left .5s, background-color 1s linear;
    transition: margin-top .5s, margin-left .5s, background-color 1s linear;
    font-size: 2.4vw;}



.notifpos{pointer-events: none;
    display: none;
    z-index: 20;
    position: absolute;
    padding: .5%;
    background-color: rgba(0,161,110,0.85);
    margin-left: 29.5%;
    margin-top: 17%;
    font-size: 89px;
    color: #3fdd00;
    font-family: nin;
    font-size: 4.65vw;}



#crosscontain{
        display: none;
        position: absolute;
        margin-top: 8%;
        width: 75%;
        -webkit-transition: width .5s, margin-top .5s, margin-left .5s, background-color 1s linear, opacity .5s;
        transition: width .5s, margin-top .5s, margin-left .5s, background-color 1s linear, opacity .5s;}

        #crosscontain1{
        display: none;
        position: absolute;
        margin-top: 9%;
        width: 86%;
        -webkit-transition: width .5s, margin-top .5s, margin-left .5s, background-color 1s linear, opacity .5s;
        transition: width .5s, margin-top .5s, margin-left .5s, background-color 1s linear, opacity .5s;}

        #crosscontainA {
    z-index: 5;
    display: none;
    position: absolute;
    margin-top: 5.25%;
    width: 50%;
    -webkit-transition: width .5s, margin-top .5s, margin-left .5s, background-color 1s linear, opacity .5s;
    transition: width .5s, margin-top .5s, margin-left .5s, background-color 1s linear, opacity .5s;}

        .crosslabs{pointer-events: none;
        letter-spacing: 1px;
        color: white;
        position: absolute;
        font-size: 16px;
        font-size: .85vw;
        font-family: nin;}

        .crosslabsM{pointer-events: none;
        letter-spacing: 1px;
        color: white;
        position: absolute;
        font-size: 16px;
        font-size: .85vw;
        font-family: nin;
            margin-top: 16%;}


        .crosslabsB{pointer-events: none;
        letter-spacing: 1px;
        color: white;
        position: absolute;
        font-size: 16px;
        font-size: .85vw;
        font-family: nin;
            margin-top: 32%;}
        
        .crossesTop {pointer-events: none;
        position: absolute;
        width: 3%;}

        .crossesMid {pointer-events: none;
        position: absolute;
        width: 3%;
        margin-top: 16%;}

        .crossesBott {pointer-events: none;
        position: absolute;
        width: 3%;
        margin-top: 32%;}

        #crossA{margin-left: 12%;}
        #cAl{margin-left: 14%;}
        
        #crossB{margin-left: 48.5%;}
        #cBl{margin-left: 50.5%;}

        #crossC{margin-left: 85%;}
        #cCl{margin-left: 87%;}

        #crossAM{margin-left: 12%;}
        #cAMl{margin-left: 14%;}

        #crossBM{margin-left: 48.5%;}
        #cBMl{margin-left: 50.5%;}

        #crossCM{margin-left: 85%;}
        #cCMl{margin-left: 87%;}

        #crossAB{margin-left: 12%;}
        #cABl{margin-left: 14%;}

        #crossBB{margin-left: 48.5%;}
        #cBBl{margin-left: 50.5%;}

        #crossCB{margin-left: 85%;}
        #cCBl{margin-left: 87%;}


        #aaatop{display:inline-block;}
        #aaatop{display:inline-block;}

#mainrobotcontainer{width:75%;
        float: left;
        margin-bottom: .5%;
        -webkit-transition: width .25s;
    transition: width .25s;}

#mainrobotcontainer1{width:86%;
        float: left;
        margin-bottom: .5%;
        -webkit-transition: width .25s;
    transition: width .25s;}

 #mainrobotcontainerA { 
    float:left;
     width: 50%;
        margin-bottom: .5%;
        -webkit-transition: width .25s;
    transition: width .25s;}

.robotgifs{
       display:none;
       float:left;
       width:100%;
        opacity:0;
                -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;}

        .robotgifsL2{
        display:none;
        width:100%;
        float:left;
        margin-left: -200%;
        opacity:0;
                -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;}

        .robotgifsL3{
        display:none;
        width:100%;
        float:left;
        margin-left: -200%;
        opacity:0;
                -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;}

        .robotgifsL4{
        display:none;
        width:100%;
        float:left;
        margin-left: -200%;
        opacity:0;
                -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;}
        
       

        .robotgifsjr{
        display:none;
        width:100%;
        float:left;
        opacity:0;
        -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;
        -webkit-filter: brightness(94%); /* Chrome, Safari, Opera */
        filter: brightness(94%);}

        .robotgifsL2jr{
        display:none;
        width:100%;
        float:left;
        opacity:0;
        -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;
        -webkit-filter: brightness(84%); /* Chrome, Safari, Opera */
        filter: brightness(84%);}

        .robotgifsL3jr{
        display:none;
        width:100%;
        float:left;
        opacity:0;
        -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;
        -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
        filter: brightness(80%);}

        .robotgifsjrMaincam{
        display:none;
        width:100%;
        float:left;
        opacity:0;
        -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;
        -webkit-filter: brightness(76%); /* Chrome, Safari, Opera */
        filter: brightness(76%);}

    