/*contains
    gif advancer
    slider bar*/

#butthold{
    width:100%; 
    height:30px;
    z-index: 70;}

    #buttholdA{
   width:100%; 
    height:20px;}


    #buttholdB {
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 70;
    bottom: 3%;
    right: -25%;
}

    #movebar{
    float:left;
    height: 100%;
    background-color:#ff7300;
    -webkit-transition: width 500ms,  background-color 500ms linear;
    transition: width 500ms, background-color 500ms linear ;}
    
    .slider0{width:0%;}
        .slider{width:16%;}
        .slidetop1{width:100%;}
        .slidetop2{width:7%;}
        .slidetop3{width:14%;}
        .slidetop4{width:21%;}
        .slidetop5{width:28%;}
        .slidetop6{width:35%;}
        .slidetop7{width:42%;}
        .slidetop8{width:49%;}
        .slidetop9{width:59%;}
        .slidetop10{width:68%;}
        .slidetop11{width:75%;}
        .slidetop12{width:82%;}
        .slidetop13{width:90%;}


        .slidetop1rev{width:0%;}
        .slidetop2rev{width:7%;}
        .slidetop3rev{width:14%;}
        .slidetop4rev{width:21%;}
        .slidetop5rev{width:28%;}
        .slidetop6rev{width:35%;}
        .slidetop7rev{width:42%;}
        .slidetop8rev{width:49%;}
        .slidetop9rev{width:59%;}
        .slidetop10rev{width:68%;}
        .slidetop11rev{width:75%;}
        .slidetop12rev{width:82%;}
        .slidetop13rev{width:90%;}

    #subbutthold{
    background-color: #959494;
    width: 31.5%;
    height: 20%;
    float: left;
    margin-bottom: .25%;
    margin-left: 43.5%;}


    #subbuttholdB {
    background-color: #959494;
    width: 16%;
    height: 20%;
    float: left;
    margin-bottom: .25%;
    margin-left: 59%;
}

    
    #subbuttholdA {
        width: 42.5%;
    background-color: #959494;
    float: left;
    height: 20%;
    margin-bottom: 0.75%;
    margin-left: 43.5%;}

    #subbuttholdD {
    width: 82%;
    background-color: #959494;
    float: left;
     height: 20%;
    margin-bottom: .25%;
    margin-left:9%;}


    #subbuttholdC {
    width: 100%;
    background-color: #959494;

    float: left;
     height: 20%;
    margin-bottom: .25%;
    margin-left:0%;}



    .turnbutt{
            background-color: rgb(14, 14, 14);
        background-image:url(forw.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    display:inline-block;
    float:right;
    height:1.47vw;
    margin-left: .5%;
    width:4%;
    cursor:pointer}

    .turnbuttr{background-image:url(back2.svg);
                    background-color: rgb(14,14,14);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    display:inline-block;
    float:right;
    height:1.47vw;
    width:4%;
    top:70px;
    margin-left: .5%;
    cursor:pointer;}


    .cambox{position:absolute;}


    #robotcontrol{    position: absolute;
    background-color: rgb(14,14,14);
    margin-top: 22.25%;
    width: 19%;
    z-index: -500;
    margin-left: -21%;
    -webkit-transition: width .15s, margin-left .15s, margin-top .15s;
    transition: width .15s, margin-left .15s, margin-top .15s;}

        #robotcontrolA {
    position: absolute;
    background-color: rgb(14,14,14);
    margin-top: 16.85%;
    width: 20%;
    z-index: -500;
    margin-left: -2.5%;
        -webkit-transition: width .5s, margin-left .5s, margin-top .5s;
    transition: width .5s, margin-left .5s, margin-top .5s;}


    #robotcontrolB {
    position: absolute;
    background-color: rgb(14,14,14);
    margin-top: 30.25%;
    width: 12%;
    z-index: -500;
    margin-left: -81%;
    -webkit-transition: width .5s, margin-left .5s, margin-top .5s;
    transition: width .5s, margin-left .5s, margin-top .5s;}

    #robotcontrolC {
    display:none;
    position: absolute;
    background-color: rgb(14,14,14);
    margin-top: 30.25%;
    width: 12%;
    z-index: -500;
    margin-left: -31%;
    -webkit-transition: width .5s, margin-left .5s, margin-top .5s;
    transition: width .5s, margin-left .5s, margin-top .5s;}


        #artbutton{
    width: 3%;
    height: 1.47vw;
    float: right;
    margin-top: 0;
    margin-right: 1%;
}

    #artlabel{    color: #4C6861;
    font-family: arial;
    font-weight: bolder;
    font-size: 3vw;}

    