
/*robotcontrol svg parts/ buttons*/
.head{fill:#FFFFFF;}
.body{fill:#FFFFFF;}
.bicepLT{fill:#FFFFFF;}
.bicepRT{fill:#FFFFFF;}
.foreLT{fill:#FFFFFF;}
.foreRT{fill:#FFFFFF;}
.thighLT{fill:#FFFFFF;}
.thighRT{fill:#FFFFFF;}
.legLT{fill:#FFFFFF;}
.legRT{fill:#FFFFFF;}

#topper{    position: absolute;
    /* float: left; */
    width: 75%;
    height: 91%;
    opacity:1;
}

#subtop{display: none;}
/*#if1{display: none;}*/

.Bsubtop{    position: absolute;
    /* float: left; */
    width: 10%;
    opacity:1;
}

   
.infopop {
    min-width: 77px;
    /* position: absolute; */
    /* display: block; */
    float: left;
    height: 32%;
    opacity: 1;
    background-color: white;
    z-index: 20000000;
    opacity: .75;
    overflow: hidden;
}

#if1{margin-left: -4000%;}
.infopop2{    
	position: absolute;
    /* float: left; */
    width: 18%;
    height:28%;
    opacity:1;
    background-color:white;
    	z-index: 20000000;
    	opacity: .75;
}



#infopopDreamfab {
	    margin-left: 6%;
    font-family: nin;
    font-size: 1.2vw;
}


#closeholder    {width: 8%;
    height: 8%;
    float: right;
    margin: 2%;
    cursor: pointer;}
#xclose{
width:100%;
pointer-events:none;}

.sectorid{
    margin-left: 6%;
    color: #13FF00;
    font-family: nin;
    font-size: 2vw;
}

#dreamfabbar{    width: 88%;
    height: 3%;
    background-color: gray;
    margin-left: 6%;}

#dbarmarkholder{width:1%;
height:100%;}
#dbarmarker{height: 100%;
width:5px;
float:right;
background-color:#13FF00;}


#tag{
    position: absolute;
    width: 25%;
    margin-top: -12%;
    margin-left: -13%;
    /* height: 20px; */
    opacity: 1;
    z-index: 20000000;
}

#subtopperM{
    z-index: 200001;
    overflow: hidden;
    width: 13%;
    height: 89%;
    position: absolute;}

#subtopper{    z-index: 200001;
    overflow-y: scroll;
    width: 116%;
    height: 105%;
    float: left;
    /* position: absolute; */}




#posit {
        opacity: .35;
    margin-left: -13%;
    position: absolute;
    /* text-align: center; */
    z-index: 20;
    color: #000000;
    font-size: 20px;
    font-family: nin;
    background-color: #7db6cb;
    margin-top: -33%;
    z-index: 20000000;
    cursor: pointer;
}

#subposit{cursor:move;}

.subpostagger{

    z-index: 20;
    color: #000000;
    font-size: 1.5vw;
    font-family: nin;
    background-color:#7db6cb;
    z-index: 20000000;
}



.toggleFader{
	z-index: 10000;
width:20px;
height:20px;
    position: absolute;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}

#Mrk{background-color: blue;}
#Umrk{background-color:pink;
	margin-left: 26px}

.overlayU{
    opacity:0;
    position: absolute;
    float: left;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}


.overlay{display:block;
	z-index: 500;
    opacity:0;
    position: absolute;
    float: left;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}

.overlayT{display:none;
	z-index: 400;
    opacity:1;
    position: absolute;
    float: left;
}

.toppermap{cursor:pointer;}

.overlayM{
    opacity:0;
    position: absolute;
    float: left;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}
.overlayMX{
    opacity:1;
    position: absolute;
    float: left;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}


#oamicam1{margin-left: 6%}

.oamicam1depixel1{
        opacity:1;
        fill:orange;
        -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
        animation: blinker 3s infinite;
    }

    /* Chrome, Safari, Opera */
    @-webkit-keyframes blinker {
        0%   {fill:#3C281C;}
        10%  {fill:orange;}
        20%  {fill:#3C281C;}
        30%  {fill:orange;}
        90%  {fill:#3C281C;}
        100% {fill:orange;}
    }

    /* Standard syntax */
    @keyframes blinker {
        0%   {fill:#3C281C;}
        10%  {fill:orange;}
        20%  {fill:#3C281C;}
        30%  {fill:orange;}
        90%  {fill:#3C281C;}
        100% {fill:orange;}
    }

.oamicam1depixel2{
        opacity:1;
        fill:orange;
        -webkit-animation: blinker 6s infinite; /* Chrome, Safari, Opera */
        animation: blinker 6s infinite;
    }

    /* Chrome, Safari, Opera */
    @-webkit-keyframes blinker {
        0%   {fill:#3C281C;}
        20%  {fill:orange;}
        50%  {fill:#3C281C;}
        80%  {fill:orange;}
        90%  {fill:#3C281C;}
        100% {fill:orange;}
    }

    /* Standard syntax */
    @keyframes blinker {
        0%   {fill:#3C281C;}
        20%  {fill:orange;}
        50%  {fill:#3C281C;}
        80%  {fill:orange;}
        90%  {fill:#3C281C;}
        100% {fill:orange;}
    }

.oamicam1depixel3{
        opacity:1;
        fill:orange;
        -webkit-animation: blinker 1s infinite; /* Chrome, Safari, Opera */
        animation: blinker 1s infinite;
    }

    /* Chrome, Safari, Opera */
    @-webkit-keyframes blinker {
        0%   {fill:#3C281C;}
        20%  {fill:orange;}
        50%  {fill:#3C281C;}
        100%  {fill:orange;}
    }

    /* Standard syntax */
    @keyframes blinker {
        0%   {fill:#3C281C;}
        20%  {fill:orange;}
        50%  {fill:#3C281C;}
        100%  {fill:orange;}
    }


/*#0037FF*/

/*	#00d3ff*/
/*#FF00B1*/
/*#2A8C57*/