
/*robotcontrol svg parts/ buttons*/
.head{fill:#FFFFFF;}
.body{fill:#FFFFFF;}
.bicepLT{fill:#FFFFFF;}
.bicepRT{fill:#FFFFFF;}
.foreLT{fill:#FFFFFF;}
.foreRT{fill:#FFFFFF;}
.thighLT{fill:#FFFFFF;}
.thighRT{fill:#FFFFFF;}
.legLT{fill:#FFFFFF;}
.legRT{fill:#FFFFFF;}

#topper{    position: absolute;
    /* float: left; */
    width: 75%;
    height: 91%;
    opacity:1;
}

#subtop{display: none;}
/*#if1{display: none;}*/

.Bsubtop{    position: absolute;
    /* float: left; */
    width: 10%;
    opacity:1;
}

.infopop{    
	display: none;
	position: absolute;
    /* float: left; */
    width: 18%;
    height:25%;
    opacity:1;
    background-color:white;
    	z-index: 20000000;
    	opacity: .5;
}

.ipoplogo{width:20%;
	margin:2%;}


#tag{
    position: absolute;
    width: 25%;
    margin-top: -16%;
    margin-left: -13%;
    /* height: 20px; */
    opacity: 1;
    z-index: 20000000;
}


#posit {
    margin-left: -13%;
    position: absolute;
    /* text-align: center; */
    z-index: 20;
    color: #0b0bbd;
    font-size: 20px;
    font-family: nin;
    background-color: #54cee2;
    margin-top: -33%;
    z-index: 20000000;
    cursor: pointer;
}
.toggleFader{
	z-index: 10000;
width:20px;
height:20px;
    position: absolute;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}

#Mrk{background-color: blue;}
#Umrk{background-color:pink;
	margin-left: 26px}

.overlayU{
    opacity:0;
    position: absolute;
    float: left;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}


.overlay{
	z-index: 500;
    opacity:0;
    position: absolute;
    float: left;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}

.overlayT{
	z-index: 400;
    opacity:0;
    position: absolute;
    float: left;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}



.overlayM{
    opacity:0;
    position: absolute;
    float: left;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}
.overlayMX{
    opacity:1;
    position: absolute;
    float: left;
        -webkit-transition: opacity 1s linear,width .5s;
    transition: opacity 1s linear,width .5s;
}


.headx{opacity:.6;


    -webkit-animation: blinkerB 1s 1;    
    -webkit-animation-delay: 5s; /* Chrome, Safari, Opera 

		    animation: blinkerB 1s 1;      
		    animation-delay: 5s;}

	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}


	@-webkit-keyframes blinkerB {
	    0%   {opacity:.6;}
	    10%  {opacity:0;}
		15%  {opacity:.6;}
		20%  {opacity:0;}
		25%  {opacity:.6;}
		30%  {opacity:0;}
			    33%  {opacity:.6;}
			    	    38%  {opacity:0;}
	    40%  {opacity:.6;}
	    45%  {opacity:0;}
	    	    50%   {opacity:.6;}
	    60%  {opacity:0;}
	    	    65%  {opacity:.6;}
		95%{opacity:0;}
	    100%  {opacity:.6;}

	}

	/* Standard syntax */
	@keyframes blinkerB {
	    0%   {opacity:.6;}
	    10%  {opacity:0;}
		15%  {opacity:.6;}
		20%  {opacity:0;}
		25%  {opacity:.6;}
		30%  {opacity:0;}
	    40%  {opacity:.6;}
	    45%  {opacity:0;}
	    	    50%   {opacity:.6;}
	    60%  {opacity:0;}
	    	    65%  {opacity:.6;}

	    100%  {opacity:.0;}

	}










/*head seq 2 u*/
	.seq2headA{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

		.seq2headB{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    44%  {opacity:0;}
	    88%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    44%  {opacity:0;}
	    88%  {opacity:.6;}
	    100% {opacity:0;}
	}


			.seq2headC{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    22%  {opacity:0;}
	    66%  {opacity:.6;}
	    88%  {opacity:0;}
	    100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    22%  {opacity:0;}
	    66%  {opacity:.6;}
	    88%  {opacity:0;}
	    100% {opacity:.6;}
	}


/*forearmLT seq2 un*/
	.seq2foreLTA{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}


	.seq2foreLTB{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    25%  {opacity:0;}
	    50%  {opacity:.6;}
	    75%  {opacity:0;}
	    100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    25%  {opacity:0;}
	    50%  {opacity:.6;}
	    75%  {opacity:0;}
	    100% {opacity:.6;}
	}

	.seq2foreLTC{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 2s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    50%  {opacity:.0;}
	    75%  {opacity:.6;}
	    100% {opacity:.0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    50%  {opacity:.0;}
	    75%  {opacity:.6;}
	    100% {opacity:.0;}
	}


	.seq2foreLTD{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    20%  {opacity:.0;}
	    40%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    20%  {opacity:.0;}
	    40%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

		.seq2foreLTE{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    20%  {opacity:.0;}
	    40%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    20%  {opacity:.0;}
	    40%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

			.seq2foreLTF{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 2s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

				.seq2foreLTG{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 5s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    30%  {opacity:.0;}
	    40%  {opacity:.6;}
	   	55%  {opacity:.0;}
	    66%  {opacity:.6;}
	   	77%  {opacity:.0;}
	   	88%  {opacity:.6;}
	    100% {opacity:.0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    30%  {opacity:.0;}
	    40%  {opacity:.6;}
	   	55%  {opacity:.0;}
	    66%  {opacity:.6;}
	   	77%  {opacity:.0;}
	   	88%  {opacity:.6;}
	    100% {opacity:.0;}
	}

					.seq2foreLTH{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    60%  {opacity:.6;}
	    80%  {opacity:.0;}
	    90%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    60%  {opacity:.6;}
	    80%  {opacity:.0;}
	    90%  {opacity:.6;}
	    100% {opacity:0;}
	}

						.seq2foreLTI{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    30%  {opacity:.0;}
	    90%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    30%  {opacity:.0;}
	    90%  {opacity:.6;}
	    100% {opacity:0;}
	}

/*bicepLT seq2 un*/
	.seq2bicepLTA{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 2s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 2s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

		.seq2bicepLTB{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    25%  {opacity:0;}
	    50%  {opacity:.6;}
	    75% {opacity:0;}
	    100% {opacity:0.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    25%  {opacity:0;}
	    50%  {opacity:.6;}
	    75% {opacity:0;}
	    100% {opacity:0.6;}
	}

			.seq2bicepLTC{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    40%  {opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    40%  {opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

				.seq2bicepLTD{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    40%  {opacity:0.6;}
	    60%{opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    40%  {opacity:0.6;}
	    60%{opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

					.seq2bicepLTE{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    40%  {opacity:0.6;}
	    60%{opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    40%  {opacity:0.6;}
	    60%{opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

					.seq2bicepLTF{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    15%{opacity:0;}
	    30%  {opacity:0.6;}
	    45%{opacity:0;}
	    60%  {opacity:.6;}
	    75% {opacity:0;}
	   	90%{opacity:.6;}
	    100%  {opacity:0;}	
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    15%{opacity:0;}
	    30%  {opacity:0.6;}
	    45%{opacity:0;}
	    60%  {opacity:.6;}
	    75% {opacity:0;}
	   	90%{opacity:.6;}
	    100%  {opacity:0;}	
	}	

						.seq2bicepLTG{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 6s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 6s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    12%{opacity:0;}
	    24%  {opacity:0.6;}
	    36%{opacity:0;}
	    48%  {opacity:.6;}
	    60% {opacity:0;}
	   	72%{opacity:.6;}
	    84%  {opacity:0;}	
	   	100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    12%{opacity:0;}
	    24%  {opacity:0.6;}
	    36%{opacity:0;}
	    48%  {opacity:.6;}
	    60% {opacity:0;}
	   	72%{opacity:.6;}
	    84%  {opacity:0;}	
	   	100% {opacity:.6;}
	}	

						.seq2bicepLTH{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    12%{opacity:0;}
	    24%  {opacity:0.6;}
	    36%{opacity:0;}
	    48%  {opacity:.6;}
	    60% {opacity:0;}
	   	72%{opacity:.6;}
	    84%  {opacity:0;}	
	   	100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    12%{opacity:0;}
	    24%  {opacity:0.6;}
	    36%{opacity:0;}
	    48%  {opacity:.6;}
	    60% {opacity:0;}
	   	72%{opacity:.6;}
	    84%  {opacity:0;}	
	   	100% {opacity:.6;}
	}	

							.seq2bicepLTI{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 6s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 6s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    5%{opacity:0;}
	    20%  {opacity:0.6;}
	    25%{opacity:0;}
	    45%  {opacity:.6;}
	    50% {opacity:0;}
	   	55%{opacity:.6;}
	    75%  {opacity:0;}	
	   	80% {opacity:.6;}
	   	100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    5%{opacity:0;}
	    20%  {opacity:0.6;}
	    25%{opacity:0;}
	    45%  {opacity:.6;}
	    50% {opacity:0;}
	   	55%{opacity:.6;}
	    75%  {opacity:0;}	
	   	80% {opacity:.6;}
	   	100% {opacity:0;}
	}	

								.seq2bicepLTJ{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 5s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    10%{opacity:0;}
	    20%  {opacity:0.6;}
	    40%{opacity:0;}
	    60%  {opacity:.6;}
	    70% {opacity:0;}
	   	80%{opacity:.6;}
	   	100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    10%{opacity:0;}
	    20%  {opacity:0.6;}
	    40%{opacity:0;}
	    60%  {opacity:.6;}
	    70% {opacity:0;}
	   	80%{opacity:.6;}
	   	100% {opacity:0;}
	}	

									.seq2bicepLTK{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 7s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 7s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    60%  {opacity:0.6;}
	    80%{opacity:0;}
	   	100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    60%  {opacity:0.6;}
	    80%{opacity:0;}
	   	100% {opacity:.6;}
	}	

/*body seq 2 u*/
	.seq2bodyA{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 5s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

		.seq2bodyB{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    50%  {opacity:0;}
	    60%  {opacity:.6;}
	    80% {opacity:0;}
	    100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    50%  {opacity:0;}
	    60%  {opacity:.6;}
	    80% {opacity:0;}
	    100% {opacity:.6;}
	}

			.seq2bodyC{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    16%  {opacity:0;}
	    24%  {opacity:.6;}
	    32% {opacity:0;}
	    40% {opacity:.6;}
	    48% {opacity:0;}
	    100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    16%  {opacity:0;}
	    24%  {opacity:.6;}
	    32% {opacity:0;}
	    40% {opacity:.6;}
	    48% {opacity:0;}
	    100% {opacity:.6;}
	}


			.seq2bodyD{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
		30% {opacity:0;}
	    60% {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
		30% {opacity:0;}
	    60% {opacity:.6;}
	    100% {opacity:0;}
	}

				.seq2bodyE{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker 6s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 6s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
		20% {opacity:0;}
	    30% {opacity:.6;}
	    80% {opacity:0;}
	    90% {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
		20% {opacity:0;}
	    30% {opacity:.6;}
	    80% {opacity:0;}
	    90% {opacity:.6;}
	    100% {opacity:0;}
	}


					.seq2bodyF{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker  4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    50% {opacity: 0;}
	    100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    50% {opacity: 0;}
	    100% {opacity:.6;}
	}

						.seq2bodyG{
	    opacity:.6;
	    fill:#FF00B1;
	    -webkit-animation: blinker  6s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 6s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    50% {opacity: 0;}
	    70% {opacity: 0.6;}
	    80% {opacity: 0;}
	    100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    50% {opacity: 0;}
	    70% {opacity: 0.6;}
	    80% {opacity: 0;}
	    100% {opacity:.6;}
	}



/*#0037FF*/

/*	#00d3ff*/
/*#FF00B1*/
/*#2A8C57*/