
/*robotcontrol svg parts/ buttons*/
.head{fill:#FFFFFF;}
.body{fill:#FFFFFF;}
.bicepLT{fill:#FFFFFF;}
.bicepRT{fill:#FFFFFF;}
.foreLT{fill:#FFFFFF;}
.foreRT{fill:#FFFFFF;}
.thighLT{fill:#FFFFFF;}
.thighRT{fill:#FFFFFF;}
.legLT{fill:#FFFFFF;}
.legRT{fill:#FFFFFF;}




.overlay{
    opacity:0;
    position: absolute;
    float: left;
        -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}



/*head seq 2 u*/
	.seq2headA{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

		.seq2headB{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    44%  {opacity:0;}
	    88%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    44%  {opacity:0;}
	    88%  {opacity:.6;}
	    100% {opacity:0;}
	}


			.seq2headC{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    22%  {opacity:0;}
	    66%  {opacity:.6;}
	    88%  {opacity:0;}
	    100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    22%  {opacity:0;}
	    66%  {opacity:.6;}
	    88%  {opacity:0;}
	    100% {opacity:.6;}
	}


/*forearmLT seq2 un*/
	.seq2foreLTA{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}


	.seq2foreLTB{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    25%  {opacity:0;}
	    50%  {opacity:.6;}
	    75%  {opacity:0;}
	    100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    25%  {opacity:0;}
	    50%  {opacity:.6;}
	    75%  {opacity:0;}
	    100% {opacity:.6;}
	}

	.seq2foreLTC{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 2s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    50%  {opacity:.0;}
	    75%  {opacity:.6;}
	    100% {opacity:.0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    50%  {opacity:.0;}
	    75%  {opacity:.6;}
	    100% {opacity:.0;}
	}


	.seq2foreLTD{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    20%  {opacity:.0;}
	    40%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    20%  {opacity:.0;}
	    40%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

		.seq2foreLTE{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    20%  {opacity:.0;}
	    40%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    20%  {opacity:.0;}
	    40%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

			.seq2foreLTF{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 2s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    60%  {opacity:.0;}
	    80%  {opacity:.6;}
	    100% {opacity:.0;}
	}

				.seq2foreLTG{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 5s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    30%  {opacity:.0;}
	    40%  {opacity:.6;}
	   	55%  {opacity:.0;}
	    66%  {opacity:.6;}
	   	77%  {opacity:.0;}
	   	88%  {opacity:.6;}
	    100% {opacity:.0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    30%  {opacity:.0;}
	    40%  {opacity:.6;}
	   	55%  {opacity:.0;}
	    66%  {opacity:.6;}
	   	77%  {opacity:.0;}
	   	88%  {opacity:.6;}
	    100% {opacity:.0;}
	}

					.seq2foreLTH{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    60%  {opacity:.6;}
	    80%  {opacity:.0;}
	    90%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    60%  {opacity:.6;}
	    80%  {opacity:.0;}
	    90%  {opacity:.6;}
	    100% {opacity:0;}
	}

						.seq2foreLTI{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    30%  {opacity:.0;}
	    90%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    10%  {opacity:.0;}
	    20%  {opacity:.6;}
	    30%  {opacity:.0;}
	    90%  {opacity:.6;}
	    100% {opacity:0;}
	}

/*bicepLT seq2 un*/
	.seq2bicepLTA{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 2s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 2s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    33%  {opacity:0;}
	    66%  {opacity:.6;}
	    100% {opacity:0;}
	}

		.seq2bicepLTB{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    25%  {opacity:0;}
	    50%  {opacity:.6;}
	    75% {opacity:0;}
	    100% {opacity:0.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    25%  {opacity:0;}
	    50%  {opacity:.6;}
	    75% {opacity:0;}
	    100% {opacity:0.6;}
	}

			.seq2bicepLTC{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    40%  {opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    40%  {opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

				.seq2bicepLTD{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    40%  {opacity:0.6;}
	    60%{opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    40%  {opacity:0.6;}
	    60%{opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

					.seq2bicepLTE{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    40%  {opacity:0.6;}
	    60%{opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    40%  {opacity:0.6;}
	    60%{opacity:0;}
	    80%  {opacity:.6;}
	    100% {opacity:0;}
	}

					.seq2bicepLTF{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 3s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 3s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    15%{opacity:0;}
	    30%  {opacity:0.6;}
	    45%{opacity:0;}
	    60%  {opacity:.6;}
	    75% {opacity:0;}
	   	90%{opacity:.6;}
	    100%  {opacity:0;}	
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    15%{opacity:0;}
	    30%  {opacity:0.6;}
	    45%{opacity:0;}
	    60%  {opacity:.6;}
	    75% {opacity:0;}
	   	90%{opacity:.6;}
	    100%  {opacity:0;}	
	}	

						.seq2bicepLTG{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 6s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 6s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    12%{opacity:0;}
	    24%  {opacity:0.6;}
	    36%{opacity:0;}
	    48%  {opacity:.6;}
	    60% {opacity:0;}
	   	72%{opacity:.6;}
	    84%  {opacity:0;}	
	   	100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    12%{opacity:0;}
	    24%  {opacity:0.6;}
	    36%{opacity:0;}
	    48%  {opacity:.6;}
	    60% {opacity:0;}
	   	72%{opacity:.6;}
	    84%  {opacity:0;}	
	   	100% {opacity:.6;}
	}	

						.seq2bicepLTH{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 4s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 4s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    12%{opacity:0;}
	    24%  {opacity:0.6;}
	    36%{opacity:0;}
	    48%  {opacity:.6;}
	    60% {opacity:0;}
	   	72%{opacity:.6;}
	    84%  {opacity:0;}	
	   	100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    12%{opacity:0;}
	    24%  {opacity:0.6;}
	    36%{opacity:0;}
	    48%  {opacity:.6;}
	    60% {opacity:0;}
	   	72%{opacity:.6;}
	    84%  {opacity:0;}	
	   	100% {opacity:.6;}
	}	

							.seq2bicepLTI{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 6s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 6s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    5%{opacity:0;}
	    20%  {opacity:0.6;}
	    25%{opacity:0;}
	    45%  {opacity:.6;}
	    50% {opacity:0;}
	   	55%{opacity:.6;}
	    75%  {opacity:0;}	
	   	80% {opacity:.6;}
	   	100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    5%{opacity:0;}
	    20%  {opacity:0.6;}
	    25%{opacity:0;}
	    45%  {opacity:.6;}
	    50% {opacity:0;}
	   	55%{opacity:.6;}
	    75%  {opacity:0;}	
	   	80% {opacity:.6;}
	   	100% {opacity:0;}
	}	

								.seq2bicepLTJ{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 5s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 5s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    10%{opacity:0;}
	    20%  {opacity:0.6;}
	    40%{opacity:0;}
	    60%  {opacity:.6;}
	    70% {opacity:0;}
	   	80%{opacity:.6;}
	   	100% {opacity:0;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    10%{opacity:0;}
	    20%  {opacity:0.6;}
	    40%{opacity:0;}
	    60%  {opacity:.6;}
	    70% {opacity:0;}
	   	80%{opacity:.6;}
	   	100% {opacity:0;}
	}	

									.seq2bicepLTK{
	    opacity:.6;
	    fill:#006F57;
	    -webkit-animation: blinker 7s infinite; /* Chrome, Safari, Opera */
	    animation: blinker 7s infinite;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    60%  {opacity:0.6;}
	    80%{opacity:0;}
	   	100% {opacity:.6;}
	}

	/* Standard syntax */
	@keyframes blinker {
	    0%   {opacity:.6;}
	    20%{opacity:0;}
	    60%  {opacity:0.6;}
	    80%{opacity:0;}
	   	100% {opacity:.6;}
	}	



/*	#00d3ff*/