/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
    	display: block;
    }
    body {
    	line-height: 1;
    }
    ol, ul {
    	list-style: none;
    }
    blockquote, q {
    	quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    }

/* ------------------------------------------------------------------------------------------------------- */

@font-face {font-family: nin;
			src:url(nintendo.ttf) ; }	

@font-face {font-family: kar;
            src:url(ander.ttf) ; }         
@font-face {font-family: helvb;
            src:url(helvb2.otf) ; }      

body{background-color:rgb(182, 182, 182);}

.close{height:15%;
	width:15%;}
.bottext{display: none;
    	font-family: nin;
    font-size: 16px;
    margin-left: 2%;
    color: green;
    }	

    
    

#botcontainer {
    background-color: rgb(16,16,16);
    width: 100%;
     position: fixed; 
    bottom:5%;}
    
    #lander    {width: 100%;
    height: 1000px;
    position: absolute;
    z-index: 5000;
    background-color: #b6b6b6;}


    #boxer{    
    display: none;    
    position: absolute;
    width: 75%;
    pointer-events: none;}

    #mousebutt{
    position: absolute;
    margin-left: 72.5%;
    width: 2%;
    margin-top: 39%;}

    .notifpos2{
    pointer-events: none;
    display: none;   
    font-size: 36px;
    color: #3fdd00;
    font-family: kar;
    z-index: 20;
    position: absolute;
    padding: 0%;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 66.25%;
    margin-top: .25%;
    -webkit-transition: margin-top .5s, margin-left .5s, background-color 1s linear;
    transition: margin-top .5s, margin-left .5s, background-color 1s linear;
    font-size: 2.4vw;}

    .notifpos{
    pointer-events: none;
    display: none;  
    z-index: 20;
    position: absolute;
    padding: 2%;
    background-color: rgba(0,161,110,0.85);
    margin-left: 22%;
    margin-top: 17%;
    font-size: 89px;
    color: #3fdd00;
    font-family: kar;
    font-size: 4.65vw;}

    #crosscontain{
        display: none;
        position: absolute;
        margin-top: 8%;
        width: 75%;
        -webkit-transition: margin-top .5s, margin-left .5s, background-color 1s linear, opacity .5s;
        transition: margin-top .5s, margin-left .5s, background-color 1s linear, opacity .5s;}

        .crosslabs{pointer-events: none;
        letter-spacing: 1px;
        color: white;
        position: absolute;
        font-size: 16px;
        font-size: 1.25vw;
        font-family: nin;}

        .crosslabsM{pointer-events: none;
        letter-spacing: 1px;
        color: white;
        position: absolute;
        font-size: 16px;
        font-size: 1.25vw;
        font-family: nin;
            margin-top: 16%;}


        .crosslabsB{pointer-events: none;
        letter-spacing: 1px;
        color: white;
        position: absolute;
        font-size: 16px;
        font-size: 1.25vw;
        font-family: nin;
            margin-top: 32%;}
        
        .crossesTop {pointer-events: none;
        position: absolute;
        width: 3%;}

        .crossesMid {pointer-events: none;
        position: absolute;
        width: 3%;
        margin-top: 16%;}

        .crossesBott {pointer-events: none;
        position: absolute;
        width: 3%;
        margin-top: 32%;}

        #crossA{margin-left: 12%;}
        #cAl{margin-left: 14%;}
        
        #crossB{margin-left: 48.5%;}
        #cBl{margin-left: 50.5%;}

        #crossC{margin-left: 85%;}
        #cCl{margin-left: 87%;}

        #crossAM{margin-left: 12%;}
        #cAMl{margin-left: 14%;}

        #crossBM{margin-left: 48.5%;}
        #cBMl{margin-left: 50.5%;}

        #crossCM{margin-left: 85%;}
        #cCMl{margin-left: 87%;}

        #crossAB{margin-left: 12%;}
        #cABl{margin-left: 14%;}

        #crossBB{margin-left: 48.5%;}
        #cBBl{margin-left: 50.5%;}

        #crossCB{margin-left: 85%;}
        #cCBl{margin-left: 87%;}


        #aaatop{display:inline-block;}
        #aaatop{display:inline-block;}


    #mainrobotcontainer{width:75%;
        float: left;}
	.robotgifs{
       display:none;
       float:left;
	   width:100%;
        opacity:0;
                -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;}

        .robotgifsL2{
        display:none;
        width:100%;
        float:left;
        margin-left: -200%;
        opacity:0;
                -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;}

        .robotgifsL3{
        display:none;
        width:100%;
        float:left;
        margin-left: -200%;
        opacity:0;
                -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;}

        .robotgifsL4{
        display:none;
        width:100%;
        float:left;
        margin-left: -200%;
        opacity:0;
                -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;}
        
       

        .robotgifsjr{
        display:none;
        width:100%;
        float:left;
        opacity:0;
        -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;
        -webkit-filter: brightness(88%); /* Chrome, Safari, Opera */
        filter: brightness(88%);}

        .robotgifsL2jr{
        display:none;
        width:100%;
        float:left;
        opacity:0;
        -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;
        -webkit-filter: brightness(84%); /* Chrome, Safari, Opera */
        filter: brightness(84%);}

        .robotgifsL3jr{
        display:none;
        width:100%;
        float:left;
        opacity:0;
        -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;
        -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
        filter: brightness(80%);}

        .robotgifsjrMaincam{
        display:none;
        width:100%;
        float:left;
        opacity:0;
        -webkit-transition:opacity .25s; /* Safari */
        transition:opacity .25s;
        -webkit-filter: brightness(76%); /* Chrome, Safari, Opera */
        filter: brightness(76%);}

    .inside{    /* left: 65px; */
    float: left;
    /* z-index: 50; */
    cursor: pointer;
    width: 100%;
    color: #333333;
    font-size: 1.25vw;
    font-family: nin;
    text-align: center;}

        .insideA{    /* left: 65px; */
    float: left;
    /* z-index: 50; */
    cursor: pointer;
    width: 100%;
    color: #333333;
    font-size: 1.25vw;
    font-family: nin;
    text-align: center;}


    .maedabox{
        right: 0;
    width: 25%;
    float: left;
    position: absolute;
    margin-top: 6%;}

    .maedaboxA{
    right: 0;
    width: 50%;
    float: left;}   

    .placer{width:100%;}

    .maedabox2{
    width: 8.3%;
    float: left;}

    .maedabox2A{
    width:34%;
    float: left;}

    #switchfirst{background-color:#ff7300;}
    #switchsecond{background-color: #3592b4;}
    #switchthird{background-color:#387991;}
    #switchfourth{background-color:#395b68;}

/*    #revertbutt{display:none;}
    #revertbutt2{display:none;}*/



    #cambutthold{    
    bottom: 4%;
    width: 42%;
    /* height: 32px; */
    margin-left: 33%;
    /* position: absolute; */
    cursor: pointer;
    color: #333333;
    font-size: 1.5vw;
    font-family: nin;
    text-align: center;}

    .cambutts{    
    float: right;
    height: 100%;
    width: 6%;
    display: inline-block;}

    #cam{margin-right: 1%;
    float: right;
    font-size: 23px;
    color: white;
    font-family: kar;
    font-size: 1.85vw;}

    #cam1{background-color:#ff7300;}
    #cam2{background-color: #3592b4;}
    #cam3{background-color:#387991;}
    #cam4{background-color:#395b68;}



	.headmarker {
        width: 4%;
        height: 6%;
        position: absolute;
        background-color: rgba(255,255,255,.5);
        margin-top: -32%;
        margin-left: 37%;
        cursor: pointer;}

        .bottext{display: none;
        	font-family: nin;
        font-size: 16px;
        margin-left: 2%;
        color: black;
        padding-left: 7px;
        overflow-x:hidden; 
        -webkit-transition:  width 1s; /* Safari */
        transition: width 1s;}

        .headmarker2 {
        position: absolute;
        background-color: rgba(255, 255, 255,0);
        margin-top: -35%;
        margin-left: 20%;
        -webkit-transition: width 1s;
        transition: width 1s;
        height: 25%;
        width: 9%;
        overflow: hidden;
        padding-right: 5px;
    	}
        .textcontain{
        display: none;
            width: 105%;
        height: 100%;
            background-color: rgb(255, 153, 0);
        overflow: auto;
        padding-right: 15px;}
        #inst{
        font-size: 16px;
        color: orange;
        position: fixed;
        top: 6.5%;
        left: .5%;
        }
    	#closer {
    	display: none;
        float: right;
        margin-left:10%;
        position: fixed;
        font-size: 37px;
        color: white;
        font-family: nin;
    	    margin-top: -0.8%;
    	}
#infocontainer{
    width: 100%;}
   
    #logo {float: left;
    /* position: fixed; */
    top: 0%;
    margin-left: 1%;
    z-index: 20;
    width: 3%;}


    #infotag {    
    float: left;
    text-align: left;
    margin-top: 1%;
    /* position: fixed; */
    /* top: 0px; */
    margin-left: 1%;}
    
    #title{margin-left:5px;
    font-size: 23px;
    color:black;
    font-family:kar;
    font-size: 1.25vw;
    display: inline-block;}



    #date {margin-left:5px;
    color:  #7a7a7a;;
    font-size: 18px;
    font-family: kar;
    letter-spacing: 1px;
    font-size: .71vw;
    float: right;}
    #clock1{
        float:left;
        background-color: rgba(76, 182, 192, 0.12);
        margin-left: 1%;min-width: 142px;
        height: 141px;
        width: 9%;}

        #info {margin-top: 10%;
        width: 10%;
        margin-left:5px;
        color:#3fdd00;
        font-size: 16px;
        font-family: kar;
        letter-spacing: 1px;}
            
        #agtno{font-size: 25px;
        color: white;
        font-family: nin;}
        #browser{color:#3fdd00;}

.mousediag2 {    
    width: 25%;
    float: left;
    overflow: hidden;
    /* position: absolute; */
    margin-top: 1%;
    -webkit-transition: width 1s;
    transition: width 1s;}
    
    #msetrack{float:right;}

        #yaxtext {
        font-family: nin;
        font-size: 16px;
        margin-left: 2%;
        color: orange;}

        #xaxtext {
        font-family: nin;
        font-size: 16px;
        margin-left: 2%;
        color: orange;}
        
        #xax {
        width: 4%;
        height: 100%;
        margin-top: 2%;}

    #labelhold{    
        background-color: rgba(76, 182, 192, 0.0);
        width: 100%;
        float: left;
        height: 100%;
        /* margin-left: 1%; */
        /* margin-right: 3%; */}

    #diaglabel{
        /* transform: rotate(-90deg); */
        color: white;
        /* position: absolute; */
        /* margin-left: -2.75%; */
        font-size: 14px;
        font-family: kar;
        margin-top: 4.5%;
        font-size: .95vw;}

        .md2lab{
        float:left;
        font-family: nin;
        font-size: 16px;
        margin-left: 2%;
        color: orange;
        font-size: 1.25vw;}

        .ydelays{
        width:3%;
        background-color: orange;
        float: left;
        height:100%;
        margin-left: -1000%;
        margin-top: 0%;
        -webkit-transition: margin-left .5s;
        transition:margin-left .5s;
        overflow: hidden;}

        .ydelays2{
        width:3%;
        float: left;
        margin-top: 0%;
        margin-left: 2%;
        -webkit-transition: margin-left .5s;
        transition: margin-left .5s;}

        .ydymarkers{
        width: 70%;
        display: none;
        margin-left: 15%;}
        
        #msd2switch{    
        width: 6%;
        height: 16%;
        cursor: pointer;
        /* float: left; */
        /* position: absolute; */
        margin-left: 92%;}

    .mouseloghold {
        float: left;
        margin-left: 4%;
        width: 29%;
        -webkit-transition: width 1s;
        transition: width 1s;}

        #mselogger{
        font-family: kar;
        font-size: 40px;
        color:#36ff00;
        font-size: 3.5vw;}
        
#mapcontain{    
    width: 17%;
    float: left;
    margin-left: 0%;
     margin-top: 0%; }
    .mapbutton{    float: left;
    width: 16%;
    /* margin-left: 3%; */
    margin-left: 4%;
    margin-top: 0%;}
    .taggerbuttons{width:100%;
        float: left;
        margin-top:25%;}


#butthold{
    float:left;
    width:100%; 
    height:30px;
    z-index: 70;}

    #movebar{
    float:left;
    height: 100%;
    background-color:#ff7300;
    -webkit-transition: width 500ms,  background-color 500ms linear;
    transition: width 500ms, background-color 500ms linear ;}
    
    .slider0{width:0%;}
        .slider{width:16%;}
        .slidetop1{width:91%;}
        .slidetop2{width:7%;}
        .slidetop3{width:14%;}
        .slidetop4{width:21%;}
        .slidetop5{width:28%;}
        .slidetop6{width:35%;}
        .slidetop7{width:42%;}
        .slidetop8{width:49%;}
        .slidetop9{width:56%;}
        .slidetop10{width:63%;}
        .slidetop11{width:70%;}
        .slidetop12{width:77%;}
        .slidetop13{width:84%;}


        .slidetop1rev{width:0%;}
        .slidetop2rev{width:7%;}
        .slidetop3rev{width:14%;}
        .slidetop4rev{width:21%;}
        .slidetop5rev{width:28%;}
        .slidetop6rev{width:35%;}
        .slidetop7rev{width:42%;}
        .slidetop8rev{width:49%;}
        .slidetop9rev{width:56%;}
        .slidetop10rev{width:63%;}
        .slidetop11rev{width:70%;}
        .slidetop12rev{width:77%;}
        .slidetop13rev{width:84%;}

    #subbutthold{
    background-color: #959494;
    width: 75%;
    height: 100%;
    float: left;}

    .turnbutt{
            background-color: rgb(96, 95, 95);
        background-image:url(forw.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    display:inline-block;
    float:right;
    height:100%;
    margin-left: .5%;
    width:4%;
    cursor:pointer}

    .turnbuttr{background-image:url(back.svg);
                    background-color: rgb(96, 95, 95);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    display:inline-block;
    float:right;
    height:100%;
    width:4%;
    top:70px;
    margin-left: .5%;
    cursor:pointer;}


    .cambox{position:absolute;}

#test1{
    position: absolute;
    margin-left: 35%;
    margin-top: 18%;
    width: 1%;
    -webkit-transition: width 1s;
    transition: width 1s;}

#markermock{
    display:none;
    position: absolute;
    float: left;
    pointer-events:none;
}

.mockrect{pointer-events: fill;}

.armgcircs{
    position: absolute;
    width: 1%;}

#gcirc1{    margin-left: -21%;
    margin-top: 10%;}




#holder{float:left;}
